<div id="container">
  <div id="frame01">
    <p id="titulo" align="center">DON'T KNOW HOW TO USE <br> OUR SITE?</p>
    <a href="help-center/#frame02">
      <div id="btn_help-center">
        <p id="txt_button">Go to Help Center</p>
        <img src="arrow.svg" id="btn_img">
      </div>
    </a>
  </div>

  <div id="frame02" background-color="#ffffff">
    <p class="titulo" align="center">How can we help you?</p>

    <div id="buttons" align="center">
      <a href="help-center#titulo01"><p class="button">Homepage</p></a>
      <a href="help-center#titulo02"><p class="button">About Us</p></a>
      <a href="help-center#titulo03"><p class="button">Courses</p></a>
      <a href="help-center#titulo04"><p class="button">E-Books</p></a>
      <a href="help-center#titulo05"><p class="button">Interactive <br> Games</p></a>
      <a href="help-center#titulo06"><p class="button">Privacy <br> Police</p></a>
      <a href="help-center#titulo07"><p class="button">Install <br> PatoDin</p></a>
      <a href="help-center#titulo08"><p class="button">My <br> Account</p></a>
    </div>

  </div>

  <div id="frame03" background-color="#FEFAE0">
    <p class="titulo" align="center" id="titulo01">Homepage</p>
    <p class="content">
       On the homepage, the feeling of sophistication, prosperity, balance and stability that the site <br>
      conveys to the reader is remarkable.<br>
      <br>
       In the Homepage, the CHECK OUR COURSES option directs the visitor to the courses tab <br>
      where you will see a variety of courses, which will help and guide our customers through this <br>
      journey of success and solution about their financial life. <br>
      <br>
       Also in Homepage, we have a brand to install our Mobile App. Then you check out QR CODE to <br>
      download our app "PatoDin", which is a personal finance organization and education <br>
      application, developed for children and teenagers to start organizing their finances and money.<br>
      <br>
       And finally, you have the option to install PatoDin in some devices. PatoDin is now available in <br>
      Android, IOS, Macbook, Windows, Linux, and more. When you click in "Download Now", it <br>
      redirects you into a installation page, where you can find your specifically device, and install in <br>
      your device.
    </p>
  </div>
  
  <div id="frame04" background-color="#ffffff">
    <p class="titulo" align="center" id="titulo02"> About Us </p>
    <p class="content">
      In "About Us", you can see more about our history as company, born of a school work, and the <br>
      members of our group. You can learn more about our objectives, our goals to reach and how <br>
      you can contribute to our work.<br><br><br><br>
    </p>
    <p class="titulo" align="center" id="titulo03"> Courses </p>
    <p class="content">
      In "Courses", we have multiple choices of courses about Financial Education in life. There, you <br>
      can choose a course, and the link you redirect you to the course page. There, you can learn <br>
      more about Managing Finances, Investing Money, Passive Income, and much courses more.<br>
    </p>
  </div>
  
  <div id="frame05" background-color="#FEFAE0">
    <p class="titulo" align="center" id="titulo04"> E-Books </p>
    <p class="content">
      In the page "E-books", we have some good e-books to learn more with another's experiences in <br>
      the financial life and evolve more and more in you practice. You can download our E-Books in <br>
      PDF format, contributing to our services.<br><br><br><br>
    </p>
    <p class="titulo" align="center" id="titulo05"> Interactive Games </p>
    <p class="content">
        In ?Interactive Games?, we have some Quizzes that can put in test all knowledge that you <br>
      earned previously. The test will have some multiple choices questions to answer, and the <br>
      winner can earn more XP practicing. <br> 
        You can also install PatoDin to more games, appointing your camera to QR Code or clicking the
        button "Download".
    </p>
  </div>
  
  <div id="frame06" background-color="#ffffff">
    <p class="titulo" align="center" id="titulo06">Privacy Police</p>
    <p class="content">
      In ?Privacy Police?, you can have knowledge about your Data collected and used in our <br>
      services. In our services, your data is stored with security and protection.<br><br><br><br> 
    </p>
    <p class="titulo" align="center" id="titulo07">Install PatoDin</p>
    <p class="content">
      In the page ?Install PatoDin?, you can access ways to install our App in your preferred device.<br>
      You can install in Mobile Devices, notebooks and PCs.<br>
      Certain, you shall not repent of our services. Enjoy yourself!
    </p>
  </div>
</div>
