<div class="menu">
  <ul class="elementos">
    <li id="logo"><a [routerLink]="['home']"><img src="MineGeld.png"></a></li>
    <li><a [routerLink]="['courses']">COURSES</a></li>
    <li><a [routerLink]="['ebooks']">E-BOOKS</a></li>
    <li><a [routerLink]="['interactive-games']">GAMES</a></li>
    <li><input id="id_search" type="text" name="search" placeholder="search for courses"></li>
    <li id="item6"><a [routerLink]="['my-account']">
      <div class="btn_myaccount">
        <img width="32px" height="32px" src="user-icon.svg">
        <p>My Account</p>
      </div>
    </a>
    </li>
  </ul>
</div>
