<div class="body">
  <div class="container">
    <div id="grid01">
      <a [routerLink]="['home']"><img src="MineGeld.png"></a>
    </div>

    <ul id="grid02">
      <li><a [routerLink]="['about-us']">About Us</a></li>
      <li><a [routerLink]="['help-center']"> Help Center</a></li>
      <li><a [routerLink]="['privacy-police']">Privacy Police</a></li>
      <li><a [routerLink]="['forums']">Forums</a></li>
    </ul>

    <ul id="grid03">
      <li><a [routerLink]="['courses']">Courses</a></li>
      <li><a [routerLink]="['ebooks']">E-Books</a></li>
      <li><a [routerLink]="['interactive-games']">Interactive Games</a></li>
      <li><a [routerLink]="['patodin']">PatoDin</a></li>
    </ul>
  </div>

  <div id="line"></div>

  <p id="SDG">&copy; Soli Deo Gloria</p>

</div>
