<div class="container">
  <div id="frame01">
    <br>
    <p class="txt_answer">WANT TO LEARN MORE <br> ABOUT YOUR FINANCES?</p>

    <a [routerLink]="['/courses']">
      <div id="btn-checkOurCourses">
        <p class="txt_btn01">Check Our Courses</p>
        <img src="arrow.svg" class="img_arrow">
      </div>
    </a>

  </div>

  <div id="frame02">

    <div id="img01">
      <img src="images/Home/WomanWorking.png">
    </div>

    <div id="div01">
      <p id="tt_01" class="title">Learn to administrate <br> your gains</p>
      <p id="subtt_01" class="subtitle"> In our courses, you will learn to deal with your <br>
        gains, managing entries and exits of money, <br>
        avoiding disasters in your administration.
      </p>
      <a [routerLink]="['/courses']">
      <div class="btn_check" id="btn_checkCourses">
        <p class="txt_btn">Check our courses</p>
      </div>
      </a>

    </div>

    <div id="div02">
      <p id="tt_02" class="title">Use your money <br> wisely!</p>
      <p id="subtt_02" class="subtitle">  In our E-Books, you'll learn how to use your money  <br>
        wisely, in different cases of your life. <br><br>  
      </p>
      <a [routerLink]="['/ebooks']">
        <div class="btn_check" id="btn_checkEbooks">
          <p class="txt_btn">Check our E-Books</p>
        </div>
      </a>
    </div>

    <div id="img02">
      <img src="images/Home/MoneyPlant.png">
    </div>

  </div>

  <div id="frame03">
    <img src="images/Home/DownloadPatoDin-Add.png">
  </div>

  <div id="frame04">
    <p id="tt_03">You have a multiple of choices!</p>
    <div id="div03">
      <div id="grid01">
        <p id="subtt_03">
          Installing PatoDin, you can get a <br>
          world of possibilities inside your <br>
          devide!<br><br>
        </p>
        <a [routerLink]="['/patodin']">
          <div class="btn_check" id="btn_patodin">
            <p class="txt_btn" id="txt_btn_patodin">Download Now!</p>
          </div>
        </a>
      </div>
      <div id="grid02">
        <img src="images/Home/multiple-devices.png">
      </div>
    </div>
  </div>

</div>
