<div id="container">
  <div id="frame01">
    <p id="tt01">LEARN MORE WITH <br> OUR COURSES</p>

    <a href="courses#coursesframe">
      <div id="btn-checkOurCourses">
        <p class="txt_btn01">See our Courses</p>
        <img src="arrow.svg" class="img_arrow">
      </div>
    </a>
  </div>

  <div id="coursesframe">
    <div id="img01">
      <img src="images/Courses/imgCourses01.png">
    </div>

    <div id="info01">
      <p class="title">Passive income <br><br></p>
      <p class="subtt">
        In this course you will learn about <br>
        passive income and how your <br>
        money can work for you.
      </p>
      <a [routerLink]="['passive-income']">
        <div class="btn_acess">
          <p class="txt_btn_acess">Acess</p>
        </div>
      </a>
    </div>

    <div id="img02">
      <img src="images/Courses/imgCourses02.png">
    </div>

    <div id="info02">
      <p class="title">Investment in real <br>estate funds</p>
      <p class="subtt">
        In this course you will learn about <br>
        investments in real estate funds <br>
        and their benefits.
      </p>
      <a [routerLink]="['investment-in-real-estate-funds']">
        <div class="btn_acess">
          <p class="txt_btn_acess">Acess</p>
        </div>
      </a>
    </div>

    <div id="img03">
      <img src="images/Courses/imgCourses03.png">
    </div>

    <div id="info03">
      <p class="title">Income and expense <br> management</p>
      <p class="subtt">
        In this course you will learn how to <br>
        manage your expenses, balance <br>
        your earnings and more...
      </p>
      <a [routerLink]="['income-and-expense-management']">
        <div class="btn_acess">
          <p class="txt_btn_acess">Acess</p>
        </div>
      </a>
    </div>
  </div>

</div>
