<div id="container">
  <div id="frame01">
    <p id="titulo">Download Patodin</p>
  </div>

  <div id="frame03">
    <img src="/images/Home/DownloadPatoDin-Add.png">
  </div>

  <div id="frame04">
    <p id="tt_03">You have a multiple of choices!</p>
    <div id="div03">
      <div id="grid03">
        <p id="subtt_03">
          Installing PatoDin, you can get a <br>
          world of possibilities inside your <br>
          devide!<br><br>
        </p>
        <a>
          <div class="btn_check" id="btn_patodin">
            <p class="txt_btn" id="txt_btn_patodin">Download Here!</p>
          </div>
        </a>
      </div>
      <div id="grid03">
        <img src="/images/Home/multiple-devices.png">
      </div>
    </div>
  </div>
</div>
