<div id=container>

  <div id="frame01">
    <p id="titulo">Interactive Games</p>
  </div>

  <div id="frame02">
    <div id="online-game">
      <div id="grid01">
        <img src="images/Games/games_img02.png">
      </div>
      <div id="grid02">
        <p id="titulo01">Take our financial literacy <br>quiz and see your score!</p>
        <a href="https://scratch.mit.edu/projects/892526858/"><p id="btn_play">Play</p></a>
      </div>
    </div>
    <p id="titulo02" align="center">Also download our app!</p>
  </div>

  <div id="frame03">
    <img src="images/Home/DownloadPatoDin-Add.png">
  </div>

  <div id="frame04">
    <p id="tt_03">You have a multiple of choices!</p>
    <div id="div03">
      <div id="grid03">
        <p id="subtt_03">
          Installing PatoDin, you can get a <br>
          world of possibilities inside your <br>
          devide!<br><br>
        </p>
        <a [routerLink]="['/patodin']">
          <div class="btn_check" id="btn_patodin">
            <p class="txt_btn" id="txt_btn_patodin">Download Now!</p>
          </div>
        </a>
      </div>
      <div id="grid03">
        <img src="images/Home/multiple-devices.png">
      </div>
    </div>
  </div>
</div>
