<div id=container>
  <div id="frame01">
    <p id="titulo">KNOW OUR EBOOKS</p>
    <p id="subtitulo">Learn more about finances with our free E-<br>
      Books. Use you free time to earn more knowledge <br>
      above investing
    </p>
    <a href="ebooks#frame02">
      <div id="btn_download-pdf">
        <p id="txt_button">Download PDFs</p>
        <img src="arrow.svg" id="btn_img">
      </div>
    </a>
  </div>

  <div id="frame02">

    <p id="titulo00" align="center">E-books</p>
    <div id="ebooks">
      <div id="grid01">
        <img src="/MineGeld/MineGeld/images/Ebooks/img_ebook01.png">
      </div>

      <div id="grid02">
        <p id="titulo01" align="center">Rich Dad, Pour Dad</p>
        <p id="content01">
              In this book, Robert Kiyosaki tell us the visions of <br>
          two fathers: one rich, the other poor. This book is <br>
          full of good counsels to get embed in your financial <br> life.
        </p>
        <a href="/MineGeld/pdfs/MineGeld Ebooks - Rich Dad Poor Dad.pdf" download="MineGeld Ebooks - Rich Dad Poor Dad.pdf"><p class="btn_download" id="btn_download01">Download E-Book</p></a>
      </div>

      <div id="grid03">
        <p id="titulo02" align="center">The Richest Man in <br> Babylon</p>
        <p id="content02">
           Based in ancient Mesopotamia, The Richest Man in <br>
          Babylon is an classic about accumulate riches and <br>
          solute financial problems. <br>
           Know wise solutions, get counsels to life and <br>
          enjoy yourself with this book!
        </p>
        <a href="pdfs/MineGeld Ebooks - The Richest Man in Babylon.pdf" download="MineGeld Ebooks - The Richest Man in Babylon.pdf"><p class="btn_download" id="btn_download02">Download E-Book</p></a>
      </div>

      <div id="grid04">
        <img src="images/Ebooks/img_ebook02.png">
      </div>
    </div>

  </div>

  <div id="frame03">

    <div id="grid05">
      <img src="images/Ebooks/img_ebook03.png">
    </div>

    <div id="grid06">
      <p id="titulo03" align="center">The Intelligent <br> Investor</p>
      <p id="content03">
         Considered by Warren Buffet "the best book on <br>
        investing even written", the Intelligent Investor give <br>
        us everything we need to equip ourselves with a <br>
        investor's mindset necessary to avoid the panic of <br>
        market fluctuations that plague the ordinary <br>investor.
      </p>
      <a href="pdfs/MineGeld Ebooks - The Intelligent Investor.pdf" download="MineGeld Ebooks - The Intelligent Investor.pdf"><p class="btn_download" id="btn_download03">Download E-Book</p></a>
    </div>

    <div id="grid07">
      <p id="titulo04">
        The Millionaire Next<br>
        Door: The Surprising<br>
        Secrets of America's<br>
        Wealth
      </p>
      <p id="content04">
         What is an millionaire? That is an question that our <br>
         American Best-Seller bring us. Millionaires don't <br>
         look like millionaires, don't have millionaire names,<br>
         don't have millionaire ancestors; but they are really <br>
         millionaires. <br>
         This book will tell us more about the real face of <br>
         American Wealth, and the real definition of riches.
      </p>
      <a href="pdfs/MineGeld Ebooks - The Millionaire Next Door.pdf" download="MineGeld Ebooks - The Millionaire Next Door.pdf"><p class="btn_download" id="btn_download04">Download E-Book</p></a>
    </div>

    <div id="grid08">
      <img src="images/Ebooks/img_ebook04.png">
    </div>

  </div>

  <div id="frame04">

    <div id="grid09">
      <img src="images/Ebooks/img_ebook05.png">
    </div>

    <div id="grid10">
      <p id="titulo05" align="center">I Will Teach You To <br> Be Rich</p>
      <p id="content05">
        In I Will Teach you To Be Rich, Ramit Sethi will <br>
        teach you a 6-Week steps to be a rich person. <br>
        Learn how to earn more, save more, and live a <br>
        rich life.
      </p>
      <a href="pdfs/MineGeld Ebooks - I Will Teach You to be Rich.pdf" download="MineGeld Ebooks - I Will Teach You to be Rich.pdf"><p class="btn_download" id="btn_download05">Download E-Book</p></a>
    </div>

    <div id="grid11">
      <p id="titulo06" align="center">The Little Book That <br> Builds Wealth</p>
      <p id="content06">
         "The Little Book That Builds Wealth" is an book <br>
        that someone who wants to start investing values <br>
        should read. <br>
         The author tell us how to find some "moats" to get <br>
        investing from a investor perspective.<br>
         This "Little Book" will open you a world of <br>
        possibilities, showing you the competitively <br>
        advantages business to get investing.
      </p>
      <a href="pdfs/MineGeld Ebooks - The Little Book That Builds Wealth.pdf" download="MineGeld Ebooks - The Little Book That Builds Wealth.pdf"><p class="btn_download" id="btn_download06">Download E-Book</p></a>
    </div>

    <div id="grid12">
      <img src="images/Ebooks/img_ebook06.png">
    </div>
  </div>

</div>
