<div class="container">
  <div id="frame01">
    <p id="titulo" align="center">About Us</p>
  </div>

  <div id="frame02">
    <p id="info" align="center">
      We are a group of students from the Systems Development course at Etec <br>
      Ermelinda. This project was done for a project proposed by Teacher Renata <br>
      Maria, where our theme was financial education. Group members: <br><br><br>
    </p>
    <ul id="members">
      <li>Asaf Ferreira - Site Development / Prototyping</li>
      <li>Gabrielle de Oliveira - Research/ Documentation</li>
      <li>Giovanni Ferrari - Game Development</li>
      <li>Guilherme Santos - Mobile Development / Prototyping</li>
      <li>Henry - Research/ Documentation</li>
      <li>Leon Banks - Research/ Documentation</li>
      <li>Nicolas Silvestrini - Documentation / ABNT Document</li>
      <li>Vitor Henrique - Mobile Development / Prototyping</li>
      <li>Willian Leandro - Design / Research / Documentation</li>
    </ul>
  </div>
</div>
